{% extends 'partials/base.html' %}

{% block title %}
    500 | {{ site_name }}
{% endblock title %}


{% block main %}
    <div class="container">
        <h1>Erreur serveur</h1>
    </div>

    <div class="contents">
        <div class="container">
            <div class="error">
                <h1>5🤔😎</h1>
                <p>
                    Il semple que le serveur rencontre des problèmes techniques, 
                    veuillez contacter l'<a href="mailto:{{ email }}">administrateur</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock main %}