{% extends 'partials/base.html' %}

{% block title %}
    500 | {{ site_name }}
{% endblock title %}


{% block main %}
    <div class="container">
        <h1>Erreur serveur</h1>
    </div>

    <div class="contents">
        <div class="container">
            <h1>5🤔😎</h1>
            <p>
                Le serveur rencontre des problèmes techniques, 
                veuillez contacter l'<a href="mailto:amdin@mpiacode.fr">administrateur</a>.
            </p>
        </div>
    </div>
{% endblock main %}