{% extends 'partials/base.html' %}

{% block title %}
    Portefolio | {{ site_name }}
{% endblock title %}


{% block main %}
    <div class="container">
        <h1>Qui suis-je ?</h1>
        <p>
            Passionné de nouvelles technologies et de la programmation informatique, j'ai toujours eu l'envie de connaître 
            comment fonctionnait les choses. Ayant appris en autodidacte j'ai décidé de partager gratuitement mes connaissances
            avec les personnes ayant le même intérêt à l'informatique.
        </p>
    </div>

    <div class="contents">
        <div class="container">
            {# Include messages #}
            {% include "partials/messages.html" %}

            <h3>Mes compétences</h3>
            <div class="trait"></div>

            <div class="competences">
                <div class="skills">
                    <div class="skill">
                        <div class="skill-info">
                            <span>Python</span>
                        </div>
                        <div class="skill-line python">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Django</span>
                        </div>
                        <div class="skill-line django">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Flask</span>
                        </div>
                        <div class="skill-line flask">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="skills">
                    <div class="skill">
                        <div class="skill-info">
                            <span>Javascript</span>
                        </div>
                        <div class="skill-line javascript">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Vue</span>
                        </div>
                        <div class="skill-line vue">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="skills">
                    <div class="skill">
                        <div class="skill-info">
                            <span>HTML</span>
                        </div>
                        <div class="skill-line html">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>CSS</span>
                        </div>
                        <div class="skill-line css">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Bootstrap</span>
                        </div>
                        <div class="skill-line bootstrap">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="skills">
                    <div class="skill">
                        <div class="skill-info">
                            <span>Linux</span>
                        </div>
                        <div class="skill-line linux">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Docker</span>
                        </div>
                        <div class="skill-line docker">
                            <span></span>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-info">
                            <span>Git</span>
                        </div>
                        <div class="skill-line git">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            

            <h3>Projets réalisés</h3>
            <div class="trait"></div>

            <div class="projects">
                {% for project in projects %}
                    <div class="project">
                        <a href="{{ project.url }}" target="_blank" title="{{ project.title }}">
                            {# image de w:200 h: 140 #}
                            <img src="/{{ project.image }}" alt="{{ project.title }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}