{% extends 'partials/base.html' %}

{% block title %}
    Contact | {{ site_name }}
{% endblock title %}


{% block main %}
    <div class="container">
        <h1>Me contacter</h1>
        <p>
            Une remarque ? Une suggestion ? Une question ?
            Vous êtes au bon endroit, envoyez-moi un message via ce formulaire et je reviendrai vers 
            vous dans les meilleurs délais.
        </p>
    </div>

    <div class="contents">
        <div class="container">
            {# Include messages #}
            {% include "partials/messages.html" %}
            
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.message.label }}
                    {{ form.message }}
                </div>
                <div class="form-group">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
{% endblock main %}