{% extends 'partials/base.html' %}

{% block title %}
    Newsletter | {{ site_name }}
{% endblock title %}


{% block main %}
    <div class="container">
        <h1>Rédation des mails</h1>
        <p>Les articles, actualités du mois de {{ date.strftime("%m/%Y") }}</p>
    </div>

    <div class="contents">
        <div class="container">
            {# Include messages #}
            {% include "partials/messages.html" %}
                
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.subject.label }}
                    {{ form.subject }}
                </div>
                <div class="form-group">
                    {{ form.corps.label }}
                    {{ form.corps }}
                </div>
                <div class="form-group">
                    {{ form.submit }}
                </div>
                <p>Retour vers <a href="{{ url_for("admin.index") }}">admin</a>.</p>
            </form>
        </div>
    </div>
{% endblock main %}